
.wrapper {
  overflow: auto;
}

#main {
  margin-left: 4px;
}
#content {
  margin-left: 4px;
  margin-top: 20px;
}
.nav {
  background: black;
  width: 100%;
  height: 50px;
  color: gray;
  text-align: right;
  
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  padding: 12px;
}
nav ul li:hover {
  background: #ed1556;
  color: #fff;
  text-decoration: none;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #b17e95;
    color: white;
}

/* Hide the link that should open and close the nav on small screens */
nav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
  .nav li:not(:first-child) {
    display: none;
  }
  .nav li.icon {
    display: inline-block;
  } 
   .full-screen {
    visibility: hidden;
  }
}
 @media screen and (max-width: 4223px) {
  .full-screen {
    background: green;
  }

}
@media screen and (max-width: 1024px) {
  .full-screen {
    background: red;
  }
}

